---
import { Image } from "astro:assets";
import Captura from "./captura.astro";
import Grid from "./grid.astro";
---

<section>
    <div class="Emma">
        <h1>Hola, Emma</h1>
        <Image src="https://i.ibb.co/0jJKqNZY/flor2.png" alt="flor" width={65} height={50} />
    </div>
    <p>Esto es algo que tengo pensado hace tiempo, siempre de alguna manera me pregunte el porque nunca festejamos el cumple-mes de cuando nos conocimos, asi que decidi que ya era hora. Quise hacer algo especial para ti, más que especial, seria un pequeño recordatorio de que clase de persona eres y en que te convertiste en mi vida.</p>
    <p>Recordar aquella epoca donde nos conocimos siempre es un sentimiento calido, divertido y nostalgico. Donde ambos por algun azar del destino, nos encontramos en un chat y por mera curiosidad, decidi preguntarte quien eras y el porque todos hablaban de ti.</p>
    <div>
        <Captura />
    </div>
    <p>Quien podria pensar, que por esa pequeña curiosidad, 8 años despues serias la persona más importante en mi vida, aquella por la que lucharia contra cualquiera, por la que daria todo de mi.</p>

    <p>Si deberia describir aquello que me llamaba la atencion, que me gustaba de ti en ese entonces. Deberia hablar de esas pequeñas charlas random pero interesentes, saber de ti, de tus anecdotas, ver como aunque te quejabas de las cosas que debias hacer en Amino, aun asi veia que las hacias con cariño. Aquellos momentos donde decias ser una persona mala, diabolica y yo te molestaba diciendo que eras una chica super tierna, una chica kawai. Esos dias donde nos burlabamos de la gente, de sus publicaciones, de los grupos, de las gemsonas rancias que creaban, eran esos momentos donde la pasaba tan bien, donde el tiempo volaba por sentirme en un lugar seguro y comodo.</p>

    <p>Si tengo que remarcar el momento más importante para mi, tengo que hablarte sobre cuando volvimos hablar en 2020. Como llegue justo en tu cumpleaños, creo que aunque no fue perfecto, fue lo que inicio todo. El amor por ti, nacio desde aquel entonces y nunca pudo irse, me enamoraste como nadie en el mundo, solo te queria a ti y nada más en la vida. Tristemente como has dicho, capaz no pude demostrar realmente mis sentimientos y parecia que capaz era otra cosa, o me aburria, o no me gustabas tanto como decia decirlo. Pero quiero jurarte, que me gustabas como nadie en el mundo, mi amor por ti era tanto, que perderte fue lo más doloroso de la vida. Estuvo meses pensando en ti, queriendo encontrar la forma de volver a hablarte, animarme de alguna manera a plantarte cara y decirte que te extrañaba, que te queria a ti, pero es algo que no me llegue a animar. Tristemente paso el tiempo, mis sentimientos se fueron apagando pero en ningun momento desaparecieron, ya que recordar esos momentos, recordarte me hacia sentir calido, me hacia recordar aquellas cosas bonitas que pasamos, sentia que esos sentimientos que tenia por ti podrian volver.</p>

    <div class="imagenEmma">
        <Image src="https://i.ibb.co/Zpz50k0s/IMG-20200923-WA0075.jpg" alt="flor" width={400} height={280} />
        <p>Este dibujo es de las cosas mas importantes en mi vida, el valor que tiene el que te hayas tomado el tiempo para poder hacer algo tan hermoso como esto, lo hace la cosa mas preciada en mi vida y el amor que tengo por este dibujo es algo totalmente inigualable</p>
    </div>

    <p>Durante todos estos años, era cuestion de pensar en ti continuamente. No importa si pasaban meses, en algún momento venias a mi cabeza y todo lo que estabas eras tu. Siempre quise volverte a hablar pero nunca me animaba, siempre estaba con miedo de que me rechaces o no me contestes, como me hiciste saber siempre veia lo negativo en vez de hacerlo y ver realmente que iba a pasar, asi fue hasta que pude animarme. En 2022, cuando nos hablamos por un corto periodo de tiempo, mis sentimientos volvieron y solo podia pensar en ti, en que te queria y como iba a hacer para decirte lo que realmente sentia. Peor nuevamente, el miedo me gano, no dije nada y nos separamos, me senti muy triste, de verdad queria seguir contigo, queria seguir hablandote, pero supongo que no era el momento.</p>

    <p>Asi es como llegamos al 15 de Octubre, donde decidi mandarte un mensaje por Discord. Ese dia estuve en todo momento nervioso, pendiente en cada momento si me respondias o no, me acuerdo que cuando escribi el "Emmaaaa", estuve como una hora viendo la pantalla a ver si mandar el mensaje o no.</p>
    <p>Al ver que no contestabas me senti realmente triste, pero algo me dijo que no lo dejara ahi. Por eso intente hablarte por steam y es una de las decisiones de las que nunca me voy a arrepentir en la vida.</p>
    <p>ME CONTESTO EMMA, asi fue como me senti al ver tu mensaje de Steam. ME CONTESTO, QUE HAGO, LE CONTESTO AHORA, LE CONTESTO DESPUES, QUEDO MAL AL SER TAN RAPIDO, es increible solo con un "Matiii" causaste una explosión de sentimientos en mi persona, como con tal solo mencionar mi nombre me hiciste sentir 50 cosas distintas, desde nervios, felicidad, incertidumbre a lo que podria pasar, miedo de que te llegue a caer mal o cosas de ese estilo. Realmente no sabes la felicidad que me causo el que me hables, fue algo tan inesperado que recuerdo ese momento como si hubiera sido ayer, creo que al final de cuentas digo que me empezaste a gustar varios dias despues pero debe ser falso, porque la emocion que senti en ese momento, fue como si volviera a enamorarme 1000 veces. Incluso ahora mientras estoy escribiendo esto, estoy muy feliz, demasiado feliz de recordar esos momentos, seguramente durante estos dias de alguna manera me estuviste viendo muy contento o diciendote cosas muy lindas, es porque al momento de escribir esto, recuerdo lo mucho que te quiero, lo mucho que me encantas y lo mucho que te deseo para mi, Recordar todo lo que pasamos juntos, me convierte en la persona más feliz del mundo, no solo el recordar el pasado, sino el pensar en el futuro que quiero tener contigo.</p>
    <p>TE QUIERO, TE QUIERO TANTO MI AMOR. Cada uno de esos momentos, esas noches que pasamos juntos se ganaron un lugar en mi corazón para siempre, no sabes lo feliz que me llegas a hacer, no sabes lo enamorado que estoy, es imposible no pensar en ti durante todo el dia, durante toda la noche. Me encanta todo, me encanta aquellos momentos donde solo estabamos hablando de cosas, me encantan los momentos donde jugabamos solos o con gente, me encantan esos momentos donde veiamos peliculas o veiamos anime, me encantan esas risas, esos llantos, esos gritos, esos enfados, me encanta como podiamos pasar toda la noche juntos y el tiempo solamente pasaba volando, donde en un abrir y cerrar de ojos ya estabamos por irnos a dormir, me encanta que nos quedemos en llamada mientras dormimos, acompañarte y sentirme acompañado, el pasar mi dia escuchandote de vez en cuando como duermes, me daba una tranquilidad de que siempre estabas ahi, el que te enojes porque te despertaba, el que al momento de despertarte pasemos juntos un ratito hablando de cosas o simplemente cada uno haciendo algo distinto pero charlando, mandandonos cosas, riendonos, pasandola bien. Me gusta, me fascina esa conexion que tenemos ambos, esos momentos, esas noches, esos dias, cada uno de esos momentos los guardo en mi alma por siempre.</p>
    <h2>A partir de ahora, es una carta para ti.</h2>
    <p>Emma, esta es mi declaración de amor.</p>
    <p>Durante años, estuve buscando una persona que me haga sentir de esta manera, alguien a quien permitir conocerme, no solo mi historia, sino que me conozca fisicamente, entonces llegaste tú. Desde el comienzo, mi amor por ti ha sido totalmente inigualable a cualquier otro, se que puedo decir y asegurar, que te quiero más que cualquier persona en el mundo porque mis sentimientos son tan grandes, tan hermosos, que ninguna ser en este mundo puede mencionar el quererte más que yo, porque al pensar en ti, en nosotros, siento que es amor verdadero.</p>
    <p>Tengo tantas cosas para decirte, que me es complicado ver por donde empezar.</p>
    <p>Emma, hoy vengo aquí, en este día especial, a jurarte nuevamente mi amor y lealtad. Juro amarte, respetarte y acompañarte. Juro estar siempre para ti. Juro amarte cada momento más y más. Juro acompañarte en tus malos y buenos momentos. Juro, a partir de hoy, mejorar como persona, conocerte mejor, cambiar aquellas cosas que no te gusten de mí. Quiero convertirme en alguien en quien puedas confiar y contar siempre que tengas algún sentimiento, ya sea de felicidad o tristeza. Juro esforzarme día y noche para que lo nuestro algún día pueda hacerse realidad. Juro trabajar duro para poder hacerte feliz. Juro ante Dios que eres la única persona que quiero en mi vida, que estás en mi cabeza las 24 horas, que no hay nada ni nadie que pueda hacerme sentir de otra forma. Juro que mi amor por ti no es algo pasajero, no es un sentimiento de unos días, de unas semanas. Mis sentimientos por ti seguirán estando, pasen las semanas, meses o años. Te prometo que tengo un sentimiento, algo que me dice que lo nuestro no es algo temporal. Siento que estamos destinados a estar juntos por el resto de nuestras vidas.</p>
    <p>Me gusta todo de ti. Me gusta tu rostro, tu sonrisa, tus labios, tus cachetes. Me gustan tus ojos, tu cabello. Me gusta todo de tu voz. Me gusta cuando se te escucha feliz, cuando se te escucha enojada. Me gusta cuando te pones tímida, cuando das tus gritos de felicidad. Me gustas cuando tu voz es cariñosa. Me gusta cuando me pides que te diga que te quiero, que te dé besos. Me gusta tu voz seria, la que usas para hablarme de temas o para regañarme por aquellas cosas malas que hice o tengo. Me gusta cuando hablas en otros idiomas. Me gustan tus acentos. Me gusta la forma en la que te comunicas con los demás. Me gustan tus chistes, tus bromas. Me gusta cuando cantas de forma seria o de broma. Me gusta escucharte. Me gustan tus besos, me gustan tus reacciones, tu forma de ser. Me gusta tu risa. Me gustan tus expresiones. Me gusta imaginarme cómo eres en cada uno de esos momentos.</p>
    <p>Me gusta tu personalidad. Me gusta cómo eres. Me gustan tanto tus cosas buenas como malas. Me gusta tu faceta triste, tu faceta feliz, cómo estás enojada. Me gusta poder ver y vivir cada una de esas cosas. Me gusta verte. Me gusta escucharte. Me gusta hablar contigo. Me gustan nuestras conversaciones, las historias. Me gustan los videos que me mandas, las imágenes, las fotos tuyas. Me gusta cada charla o discusión que hemos tenido. Me gusta cuando vienes a contarme algo feliz. Me gusta dormir contigo. Me gusta jugar contigo. Me gusta enseñarte o que me enseñes. Me gusta que me regañes mientras jugamos. Me gusta que me digas que soy bueno o que soy malo. Me gusta cuando me apoyas en todo lo que quiero hacer. Me gusta que siempre vas a estar para ayudarme a mí o a cualquier otra persona en el mundo. Me gusta tu amabilidad, que aunque tengas tus problemas, eres capaz de salir a acompañar a otros, a darles consejos o simplemente escucharlos, cuando sé que eso te puede llegar a no gustar. Me gusta tu compromiso con las cosas. Me gusta que te acuerdes de todo. Me gusta cuando te quejas de que hay algo mal. Me gusta cuando te preocupas. Me gusta cuando tienes celos. Me gustan tus regalos, tus palabras, tus dibujos. Me gusta todo lo que haces. Me gusta todo lo que eres. Me gusta cada cosa de ti.</p>
    <p>Me gusta cada parte tuya. Me gusta tu cuerpo. Me gustan tu cara, tu cuello. Me gustan tus brazos. Me gustan tus manos. Me gustan tus pechos. Me gusta tu panza. Me gusta tu cintura. Me gustan tus piernas. Me gusta el conjunto de todo tu cuerpo. Me atraes y me vuelves loco tal y como eres. Me gustas.</p>
    <p>Quiero pasar todo el día contigo. Quiero poder abrazarte, besarte, tocarte. Quiero poder sentir todo aquello que me gusta de ti físicamente. Quiero poder hacerte sentir bien, besar cada parte de ti, explorarte una y mil veces. Quiero simplemente abrazarte y estar juntos, que cada uno explore el cuerpo del otro, donde ambos podamos sentir el calor del otro. Donde, al estar tanto tiempo juntos, nos transformemos en uno solo, que nuestros latidos coincidan y vayan al mismo ritmo. Poder verte, besarte, sentirte.</p>
    <p>Quiero darte todas mis primeras veces. Quiero que me enseñes y me expliques qué te gusta, que me guíes, que me ayudes a hacerte sentir bien. Quiero poder estar con la persona que quiero con mi vida, aquella que me hace tan feliz.</p>
    <p>En ti veo todo lo que necesito. Tienes todo lo que quiero en mi vida. Amo todo lo bueno y lo malo que tienes. Me encantas tú. Eso incluye todo de ti, junto a tus problemas, tus cosas malas, eso que no te gusta de ti. Todo eso me gusta.</p>
    <p>Quiero aprender a ser tu compañía perfecta, para así ayudarte a sobrellevar cada una de esas cosas, para poder estar a tu lado por siempre.</p>
    <p>Te quiero tanto que no existen palabras para demostrar mi amor por ti. No existe cosa en el mundo que sea capaz de demostrar cuánto te quiero, cuánto me encantas.</p>
    <p>En resumen, me gustas, me gusta cada cosa de ti, cada experiencia, cada momento juntos, cada palabra, cada discusion, cada momento, cada noche, cada dia, cada llamada, cada palabra, cada lagrima, cada risa, cada sonrisa, cada momento importante entre nosotros, cada fecha especial. Me haces sentir la persona más especial en el mundo, la más feliz, la más afortunada. Por eso, quiero decirte que el amor que siento por ti no tiene ningun limite.</p>
    <p>Te quiero, me encantas, me enamoras, eres mi princesa, mi cielo, mi bebé, mi nena hermosa, mi amor, mi vida, mi compañia.</p>
    <p>Te Quiero, de aqui a la luna dando un millon de vueltas al sol</p>
    <div class="containerFlor">
        <h1 class="Teamo">Te quiero</h1>
        <Image src="https://i.ibb.co/0jJKqNZY/flor2.png" alt="flor" width={240} height={185} />
    </div>
    <p class="peonia">Se supone que la flor es una peonia</p>
    <Grid />
</section>

<style>
    .peonia {
        color: #FFEFD3;
        font-size: 14px;
        text-align: center;
    }	
    .Teamo {
        color: #FFEFD3;
        font-size: 80px;
    }
    .containerFlor {
        display: flex;
        justify-content: center;
    }	
    section {
        margin-top: 6rem;
    }
    .Emma {
        display: flex;
        align-items: center;
        height: 40px;
    }
    h1 {
        font-size: 42px;
        color: #FFEFD3;
    }
    h2 {
        font-size: 32px;
        color: #FFEFD3;
    }
    p {
        text-align: justify;
        color: #FFEFD3;
        width: 800px;
        font-size: 24px;
    }
    .imagenEmma {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .imagenEmma p {
        color: #FFEFD3;
        text-align: justify;
        width: 400px;
        font-size: 14px;
    }
</style>