---
import Image from "astro/components/Image.astro";
const images = [
    "https://i.ibb.co/274F9j1d/Whats-App-Image-2025-03-12-at-13-01-46.jpg",
    "https://i.ibb.co/LbRnWr6/Whats-App-Image-2025-03-12-at-13-20-18-1.jpg",
    "https://i.ibb.co/BHWN1fGg/Whats-App-Image-2025-03-12-at-13-01-47.jpg",
    "https://i.ibb.co/DfDc3pNg/Whats-App-Image-2025-03-12-at-13-20-17.jpg",
    "https://i.ibb.co/SD6hWSQN/Whats-App-Image-2025-03-12-at-12-56-13.jpg",
    "https://i.ibb.co/qLK3nczY/Whats-App-Image-2025-03-12-at-12-54-32.jpg",
    "https://i.ibb.co/qLWXJX8B/Whats-App-Image-2025-03-12-at-13-20-16.jpg",
    "https://i.ibb.co/PGnHsGZk/Captura-de-pantalla-2025-03-12-135332.png",
    "https://i.ibb.co/Xfmp0CW2/Whats-App-Image-2025-03-12-at-13-01-53.jpg",
    "https://i.ibb.co/PGTdw9k9/Captura-de-pantalla-2025-03-12-135558.png",
    "https://i.ibb.co/601R697x/Whats-App-Image-2025-03-12-at-03-24-25.jpg",
    "https://i.ibb.co/pBqpdCDv/Captura-de-pantalla-2025-03-12-135541.png",
];
---

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 800px;
  }
  .grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
</style>

<div class="grid">
  {images.map((src) => (
    <Image src={src} alt="Imagen de Astro" width={200} height={200} />
  ))}
</div>
